/* 冒頭でimport */
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative');
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

body{
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP";
  /*font-family: "Noto Sans Japanese", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;*/
  font-feature-settings: "palt";
}

.logo{
  text-align:right;
  line-height: 50px;
  font-size: 20px;
  /*font-weight: 500;*/
  letter-spacing: 0.1em;
  font-family: 'Cinzel Decorative', cursive;
}

.logo span{
  margin-left: 10px;
}

.menu a{
  margin: 5px;
  line-height:50px;
  text-align: right;
  color: #191b1a;
}

.title{
  background: #d9eeec;
}

h1{
  /*text-align: center;*/
  line-height: 250px;
  font-size: 50px;
  font-weight: 500;
}

.blue-back{
  /*margin: 10px;*/
  background: #d9eeec;
  /*text-align: center;*/
}

section div{
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3{
  font-size: 26px;
  font-weight: 500;
  line-height: 50px;
  color: #4b4b4c;
}

h4{
  font-size: 20px;
  line-height: 50px;
  /*font-weight: 500;
  color: #4b4b4c;*/
}

ol {
  padding-left: 10px;
}

dl, dt, dd {
  margin-left: 0px;
  padding-left: 0px;
}
/*div table{
  margin-left: 0px;
}*/

/*caption{
  text-align: left;
  line-height: 30px;
  font-size: 20px;
}*/

/*.mask{
  margin-bottom: 5px;
}*/

/*img:hover{
  opacity: 0.3;
}*/

/*header{
  grid-row: 1;
  grid-column: 1/2;
}*/


/*header h3{
  margin-left: 10px;
}*/


/*.hover_on{
  opacity: 0.1;
}*/

/*.menu{
  grid-row: 1;
  grid-column: 2/5;
  line-height:50px;
  text-align: right;
}*/

/*.menu_about{
  grid-row: 3;
  grid-column: 1;
}*/

/*.menu_research{
  grid-row: 3;
  grid-column: 2;
}*/

/*.menu_work{
  grid-row: 3;
  grid-column: 3;
}*/

/*.menu_teaching{
  grid-row: 3;
  grid-column: 4;
}*/

/*.menu_about,.menu_research,.menu_work,.menu_teaching{
  margin: 10px;
  background: #e0decb;
  text-align: center;
}*/

/*.menu_links a{
}*/

/*.about table:last-child{
  margin-bottom: 10px;
}*/

/*section.about{
  grid-row: 4;
  grid-column: 1/5;
  background: #e1eceb;
}*/

/*img{
  margin: 5px;
}*/

/*section.research{
  grid-row: 5;
  grid-column: 1/5;
  background: #ffffff;
}*/

/*section.work{
  grid-row: 6;
  grid-column: 1/5;
  background: #e1eceb;
}*/

/*section.teaching{
  grid-row: 7;
  grid-column: 1/5;
  background: #ffffff;
}*/

/*section h3{
  font-size: 26px;
  font-weight: 500;
  line-height: 30px;
  color: #4b4b4c;
}*/

/*section div{
  margin-left: 50px;
}*/

footer{
  /*grid-row: 8;*/
  /*grid-column: 1/5;*/
  /*align-items: center;*/
  font-size: 20px;
  line-height: 100px;
  text-align: center;
  background: #babec4;
}

/*.research li a{
  color: rgb(118, 136, 194);
  text-decoration: none;
}*/

a {
  color: #716a6a;
  text-decoration: none;
}
